<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kaha.dragon">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--精忠报国 _小平赠-->
    <application
        android:name=".framework.base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <!--欢迎界面-->
        <activity android:name=".dragon.ui.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--首页界面-->
        <activity android:name=".dragon.ui.activity.MainActivity" />
        <!-- 图片查看器 -->
        <activity android:name=".dragon.ui.activity.ImagePreviewActivity" />
        <!-- 展示用户信息的activity -->
        <activity android:name=".dragon.ui.activity.ShowUserActivity" />
        <!-- 社区详情界面 -->
        <activity android:name=".dragon.ui.activity.CommunityDetailActivity" />
        <!-- 美图详情界面 -->
        <activity android:name=".dragon.ui.activity.PicDetailActivity" />
        <!--圈子界面-->
        <activity android:name=".dragon.ui.activity.CircleActivity" />
        <!--卡通详情界面-->
        <activity android:name=".dragon.ui.activity.CartoonDetailActivity" />
        <!--热门图片详情的界面-->
        <activity android:name=".dragon.ui.activity.HotPicDetailActivity" />
        <!--仿微信朋友圈界面-->
        <activity android:name=".dragon.ui.activity.CircleZoneActivity" />
        <!--王者荣耀英雄展示界面-->
        <activity android:name=".dragon.ui.activity.KingHeroActivity" />

    </application>

</manifest>